In [1]:
import pandas as pd
import numpy as np

df = {'a':['certamente compraria por ter antecipado minha', 'um aplicativo fácil e rápido de ser manuseado']}
df = pd.DataFrame(df)

df

C:\Users\marce\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\marce\anaconda3\lib\site-packages\numpy\.libs\libopenblas.4SP5SUA7CBGXUEOC35YP2ASOICYYEQZZ.gfortran-win_amd64.dll
C:\Users\marce\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

                                               a
0  certamente compraria por ter antecipado minha
1  um aplicativo fácil e rápido de ser manuseado

In [2]:
teste = df['a'].str.split(' ', expand =True)
teste

            0           1      2    3           4      5     6          7
0  certamente   compraria    por  ter  antecipado  minha  None       None
1          um  aplicativo  fácil    e      rápido     de   ser  manuseado

In [3]:
list(teste.columns)

[0, 1, 2, 3, 4, 5, 6, 7]

In [4]:
type(teste)

pandas.core.frame.DataFrame

In [5]:
r = pd.concat([teste[0], teste[1]])
r

0    certamente
1            um
0     compraria
1    aplicativo
dtype: object

In [6]:
#Loop for para empilhar colunas
# extend adiciona itens a uma lista (ele é diferente de append)
x = []
for coluna in teste.columns:
    x.extend(teste[coluna])

In [7]:
x

['certamente',
 'um',
 'compraria',
 'aplicativo',
 'por',
 'fácil',
 'ter',
 'e',
 'antecipado',
 'rápido',
 'minha',
 'de',
 None,
 'ser',
 None,
 'manuseado']

In [8]:
w =[]
for coluna in teste.columns:
    x = teste[[coluna]]
    w.append(x)
concat = pd.concat(w, ignore_index=True, axis=0)
concat

             0           1      2    3           4      5     6          7
0   certamente         NaN    NaN  NaN         NaN    NaN   NaN        NaN
1           um         NaN    NaN  NaN         NaN    NaN   NaN        NaN
2          NaN   compraria    NaN  NaN         NaN    NaN   NaN        NaN
3          NaN  aplicativo    NaN  NaN         NaN    NaN   NaN        NaN
4          NaN         NaN    por  NaN         NaN    NaN   NaN        NaN
5          NaN         NaN  fácil  NaN         NaN    NaN   NaN        NaN
6          NaN         NaN    NaN  ter         NaN    NaN   NaN        NaN
7          NaN         NaN    NaN    e         NaN    NaN   NaN        NaN
8          NaN         NaN    NaN  NaN  antecipado    NaN   NaN        NaN
9          NaN         NaN    NaN  NaN      rápido    NaN   NaN        NaN
10         NaN         NaN    NaN  NaN         NaN  minha   NaN        NaN
11         NaN         NaN    NaN  NaN         NaN     de   NaN        NaN
12         NaN         NaN    NaN  NaN         NaN    NaN  None        NaN
13         NaN         NaN    NaN  NaN         NaN    NaN   ser        NaN
14         NaN         NaN    NaN  NaN         NaN    NaN   NaN       None
15         NaN         NaN    NaN  NaN         NaN    NaN   NaN  manuseado

In [9]:
import pandas as pd

# Criando um DataFrame exemplo
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Criando uma lista vazia para armazenar os DataFrames resultantes
dfs = []

# Loop para empilhar as colunas do DataFrame original
for col in df.columns:
    # Criando um DataFrame temporário com apenas uma coluna
    temp_df = df[[col]]
    dfs.append(temp_df)

result = pd.concat(dfs, ignore_index=True, axis=0)

print(result)

     A    B    C
0  1.0  NaN  NaN
1  2.0  NaN  NaN
2  3.0  NaN  NaN
3  NaN  4.0  NaN
4  NaN  5.0  NaN
5  NaN  6.0  NaN
6  NaN  NaN  7.0
7  NaN  NaN  8.0
8  NaN  NaN  9.0

In [11]:
t = []
for coluna in teste.columns:
    t.extend(teste[coluna])
    
t

['certamente',
 'um',
 'compraria',
 'aplicativo',
 'por',
 'fácil',
 'ter',
 'e',
 'antecipado',
 'rápido',
 'minha',
 'de',
 None,
 'ser',
 None,
 'manuseado']